Html {
  overflow-x:
}

* {
  margin: 0
  padding: 0
}

header {
    height: 100vh;
    width: 100vw;
    background: #000000;
}

section {
    height: 100vh;
    width: 100vw;
    background: lightgray;
}

footer {
    height: 100vh;
    width: 100vw;
    background: lightyellow;
}

.section_img {
  margin-left: 20%;
}
