header {
    height: 100vh;
    width: 100vw;
    background: lightgreen;
}

section {
    height: 100vh;
    width: 100vw;
    background: lightgray;
}

footer {
    height: 100vh;
    width: 100vw;
    background: lightyellow;
}
